
    <tr>
      <td><%= link_to '投給這位', vote_candidate_path(candidate), method: "post", data: {confirm: "確定投給這個人？"}, class:"btn btn-primary btn-xs" %></td>
      <td><%= candidate.name  %></td>
      <td><%= candidate.age %>歲</td>
      <td><%= candidate.party %></td>
      <td><%= candidate.politics  %></td>
      <td><%= candidate.vote_logs.size %></td>
      <td>
        <%= link_to '編輯', edit_candidate_path(candidate), class:"btn btn-success btn-xs" %>
        <%= link_to '刪除', candidate_path(candidate), method: "delete", data: { confirm: "確認刪除" }, class:"btn btn-danger btn-xs" %>
      </td> 
    </tr>
    